  .App{
    text-align: center;
    margin: 0;
    padding: 0;
  
  }
  .navbar{
    text-align: center;
    min-height: 10vh;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
  }
  .nav-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    font-weight: 500;
  }

  .itemStyle{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }
  .itemStyle > h1{
    color: brown;
    text-align: center;
    justify-content: center;
   margin-bottom: 20px; 
  }
  .itemStyle > img{
    height: 70vh;
    width: 70vw;
    object-fit: contain;
  }